.create-item-page__wrapper {
    width: 100%;
    padding: 50px 100px 100px 100px;
    box-sizing: border-box;
    font-size: 1em;
    .create-item-page__content {
        width: 70%;
        border: 1px solid black;
        border-radius: 5px;
        margin: 0px auto;
        box-sizing: border-box;
        padding: 1.5em;
        .create-item-page__title {
            font-size: 2em;
        }
        .create-item-page__description {
            height: 200px;
        }
        .create-item-page__tags {
            height: min-content;
            .create-item-page__tags-container {
                .create-item-page__tag {
                    display: inline;
                    cursor: pointer;
                    border: 1px solid black;
                    border-radius: 15px;
                    margin-right: 10px;
                    padding: 0px 5px;
                    -ms-user-select: none;
                    -moz-user-select: none;
                    -khtml-user-select: none;
                    -webkit-user-select: none;
                    user-select: none;        
                }
                .create-item-page__tag--selected {
                    background-color: chartreuse;
                }
            }
        }
    }
}
