{
	"env": {
		"browser": true,
		"commonjs": true,
		"es2020": true,
		"jest": true,
		"serviceworker": true
	},
	"extends": [
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended",
		"plugin:testing-library/react"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"root": true,
	"rules": {
		"camelcase": "error",
		"no-console": "error",
		"react/display-name": "off",
		"max-len": [
		"error",
		{
			"code": 100
		}
		],
		"eol-last": [
		"error",
		"always"
		]
	}
}
