.items-page__wrapper {
    width: 100%;
    padding: 50px 100px 0px 100px;
    box-sizing: border-box;
    .items-page__content {
        height: 700px;
        width: 1000px;
        border: 1px solid black;
    }
}
