.buy-item-page__wrapper {
    width: 100%;
    padding: 50px 100px 100px 100px;
    box-sizing: border-box;
    font-size: 1em;
    .buy-item-page__content {
        .left-part {
            margin-left: 40px;
            .title {
                font-size: 30px;
            }
            .buttons {

            }
        }
    }
}
